{ 
  "presets": [
    [
      "env", { 
        "modules": false,
        "targets": {"browsers": "last 3 Chrome versions"}

        }], 
      "react"
    ],
  "plugins": ["react-hot-loader/babel"],
  "env": {
    "test": {
      "presets": [
        [
          "env", 
          "react"
        ]
      ]
    }
  }
}
