
.card{
  margin: auto;
  height: 330px;
  width: 250px;
  border: 1px solid rgb(35, 189, 206);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  padding: 10px 10px;
}

.price {
  display: block;
  font-size: 70px;
}

.change, .pChange {
  font-size: 40px;
}

.green {
  color: green;
}

.red {
  color: red;
}